html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
li{
    list-style-type: none;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
a{
    color: #636b6f;
}
.m-b-md {
    margin-bottom: 30px;
}

input{
    width: 400px;
}
.btn{
    margin-top: 10px;
    width: 100px;
    background-color: rgba(0, 92, 191, 0.49);
}
.btn:hover{

    background-color: rgba(0, 92, 191, 0.68);
}